// app.scss
// @import "scss-flex-grid/flex-grid";
@import 'flex-grid';
@import 'media-queries';
@import 'colors';
@import 'animations';
@import 'reset';
@import 'backgrounds';
@import 'buttons';
@import 'components/toolbar/toolbar';
@import 'components/cheesewheel/cheesewheel';

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;

  @include tablet-down {
    margin-left: 0;
    margin-right: 0;
  }
}

.vert-center-row {
  display: flex;
  align-items: center;
}

.main-section {
  padding: 24px;
}

.toolbar {
  display: block;
}

.list-reset {
  padding-left: 0;
  list-style: none;
}

.list-cool {
  display: block;
  padding: 5px;
  background: #DDD;
  border-bottom: 1px solid #AAA;
}

.float-right {
  float: right;
}

.md-button-utility {
  width: 24px;
  height: 24px;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: rgb(160, 93, 86);
  border-radius: 50%;
}
